# --- ENCRYPTED FILES --- #

**/secrets.yaml
**/values.yaml
**/*.properties
**/*.tfvars
**/.envrc

# --- BLACKBOX --- #

/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg

# --- GENERATED TERRAFORM FILES --- #

**/.terraform/*
/terraform/_state/prod.tfvars
