# --- ENCRYPTED FILES --- #

**/secrets.yaml
**/values.yaml
**/*.tfvars
**/.envrc

# --- BLACKBOX --- #

/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg
/terraform/network/network.tfvars

# --- GENERATED TERRAFORM FILES --- #

**/*.tfstate
/terraform/_state/state.tfvars
